<div ng-controller="accountsController">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    <table>
        <thead>
        <tr>
            <th>Username</th><th>Email</th><th>Name</th>
        </tr>
        </thead>
        <tr ng-repeat="account in accounts">
            <td><a href="#/account/{{account.id}}" style="text-decoration: underline; cursor: pointer;">{{account.username}}</a></td>
            <td>{{account.email}}</td><td>{{account.name}}</td>
        </tr>
    </table>
</div>