<div ng-controller="accountController">

    <!--




$pristine to get around encryption issues  ....?




from Calvo's slides.....

    <form name="userForm" novalidate ng-submit="addUser(newUser)">
      <div>
        <input name="userName" required ng-model="newUser.name" placeholder="Name">
      </div>
      <div>
        <input name="userEmail" type="email" ng-model="newUser.email" placeholder="Email">
      </div>
      <div>
        <input type="checkbox" required> I agree to the terms and conditions
      </div>
      <button type="submit" ng-disabled="userForm.$invalid">OK</button>
    </form>





Example Styles
form .ng-invalid.ng-dirty { background-color: lightpink; }
form .ng-valid.ng-dirty { background-color: lightgreen; }
span.summary.ng-invalid { color: red; font-weight: bold; }
span.summary.ng-valid { color: green; }




Validation Message Examples
Name:
<input type="text" ng-model="user.name" name="uName" required="" />
<br />
<div ng-show="form.$submitted || form.uName.$touched">
  <div ng-show="form.uName.$error.required">Tell us your name.</div>
</div>

E-mail:
<input type="email" ng-model="user.email" name="uEmail" required="" />
<br />
<div ng-show="form.$submitted || form.uEmail.$touched">
  <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
  <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
</div>



    -->
    <br>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <table><tr><td style="width: 100px;">Username: </td><td><input type="text" ng-model="newAccount.username"></td></tr>
        <tr><td>Email: </td><td><input type="text" ng-model="newAccount.email"></td></tr>
        <tr><td>Name: </td><td><input type="text" ng-model="newAccount.name"></td>
        <tr><td>Password: </td><td><input type="password" ng-model="newAccount.password" ng-keyup="passwordKeyup()">
            <div style="display: inline-block; margin-left: 10px; width: 305px; color: #f22;">{{passwordStrength}}<img ng-show="passwordValid" src="http://www.clipartbest.com/cliparts/Bdi/r6x/Bdir6x6c9.png" style="height: 15px;" /></div></td></tr>
        <tr><td>Address Street: </td><td><input type="text" ng-model="newAccount.addressStreet"></td></tr>
        <tr><td>Address City: </td><td><input type="text" ng-model="newAccount.addressCity"></td>
        <tr><td>Address State: </td><td><input type="text" ng-model="newAccount.addressState"></td></tr>
        <tr><td>Address Zip: </td><td><input type="text" ng-model="newAccount.addressZip"></td></tr>
    </table>
    <button class="btn btn-default" style="margin-right: 6px;" ng-click="hideEdit()">Close</button>
    <button class="btn btn-default" style="margin-right: 6px;" ng-click="deleteClick()">Delete</button>
    <button class="btn btn-primary" ng-click="save()">Save</button>
</div>