<div ng-controller="listingController">
    <br>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <table>
        <tr><td style="width: 150px;">Name: </td><td><input type="text" ng-model="newListing.name"></td></tr>
        <tr><td>Description: </td><td><input type="text" ng-model="newListing.description"></td></tr>

        <!--
        TODO  date formatting is not working here...
        <tr><td>Start Date: </td><td><input type="text" ng-model="newListing.startDate | date : 'M/dd/yy h:mm a'"></td></tr>-->
        <tr><td>Start Date: </td><td><input type="text" ng-model="newListing.startDate"></td></tr>

        <tr><td>Days: </td><td><input type="text" ng-model="newListing.days"></td></tr>

        <!--
        TODO  currency formatting is not working here...
        <tr><td>Starting Price: </td><td><input type="text" ng-model="newListing.startingPrice | currency"></td></tr>-->
        <tr><td>Starting Price: </td><td><input type="text" ng-model="newListing.startingPrice"></td></tr>

        <tr><td>Deliver Option: </td><td><input type="text" ng-model="newListing.deliverOption"></td></tr>
    </table>

    <input type="hidden" id="listingId">

    <a href="#/listings" class="btn btn-default">Close</a>
    <button class="btn btn-default">Delete</button>
    <button ng-click="save()" class="btn btn-primary">Save</button>
</div>