<div ng-controller="listingsController">
    <table>
        <thead>
        <tr>
            <th>Name</th><th>Description</th><th>Seller ID</th>
        </tr>
        </thead>
        <tr ng-repeat="listing in listings">
            <td><a href="#/listing/{{listing.id}}">{{listing.name}}</a></td>
            <td>{{listing.description}}</td><td><a href="#/account/{{listing.seller.id}}">{{listing.seller.id}}</a></td>
        </tr>
        <tr><td colspan="3"><a href="#/listing" class="btn btn-default">Create Listing</a></td></tr>
    </table>
</div>